
<div class="contact">
  <h2>Contact me :3</h2>
  <div class="socials">
    <b>Discord</b>shawny_x3<br>
    <b>Matrix</b>@shawny:cutefunny.art<br>
    <b>XMPP</b>shawny@macaw.me<br>
    <b>Mastodon</b>@shawny@equestria.social<br>
  </div>
  <br>
  <label for="input-description"><a><b>Back</b></a></label>
</div>

<style lang="scss">
  @import "src/scss/glob";

  .contact {

    .socials b::after {
      content: ": ";
    }

    @include xs {
      width: 100%;

      .socials b {
        display: block;
        margin-top: 10px;
      }
      .socials b::after {
        content: "";
      }
    }
  }
</style>
