---

interface Props {
	title?: string;
  description?: string;
  keywords?: string;
}

const { title = "Shawny", description = "", keywords = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="keywords" content=`Shawny, shawny-x3, shawny dev, shawny pony, shawny mlp ${keywords}`>
    <meta name="author" content="Shawny">
    <meta name="description" content={description}>
		<title>{title}</title>
	</head>
	<body>
    <!-- <header>
      <Navigation />
    </header> -->
    <slot />
	</body>
</html>

<style lang="scss" is:global>
  @import "../scss/styles";
</style>
